@import './variables.scss';
@import './mixins.scss';
@import './reset.scss';

// reset
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: white;
  height: var(--100vh);
  overflow: scroll;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

// // animations

:root {
  --pulse-animation: pulse 1s infinite alternate-reverse;
}

@keyframes pulse {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

// layout
:root {
  --max-width: 1200px;
}

.root-page {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 100px;
}
